.bg-primary {
	background-color: #b1942b;
	background-image: linear-gradient(to bottom right, #b1942b, #8A7219);
}

.border-primary {
	border-color: #8A7219 !important;
}

.btn-primary {
	background-color: #8A7219;
	background-image: linear-gradient(to bottom right, #b1942b, #8A7219);
	color: #fff;
	border: 0;
	transition: all .7s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: #fff;
	background-image: none;
	border: 1px solid #8A7219;
	color: #373737;
}

.text-primary {
	color: #8A7219 !important;
	font-family: Lato, sans-serif;
}

section {
	padding: 70px 10px;
}

.card {
	transition: all .7s ease-in-out;
}

.card:hover {
	transform: scale(1.1) translate(-5px, 5px);
}
